.homepage__imgContainer {
  position: relative;
}

.homepage__title {
  position: absolute;
  top: 36%;
  left: 42%;
  z-index: 2;
  text-transform: uppercase;
}

.homepage__selling-points {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;
}

.presentation {
  display: flex;
  justify-content: center;
  margin: 5rem;
  width: 80%;

  &__text {
    margin: 0;
  }
}

.actus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}

.input__newsletter {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
