.subscribe__pic__img {
  width: 100%;
  max-height: 26rem;
}

.aboButton {
  display: flex;
  justify-content: flex-end;
  
}

.pricing {
  color: black;
  font-weight: bold;
  margin-left: 60%;
  font-size: 2rem;
}

.text_formule {
  font-size: 2rem;
}

