.homepage__imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  background-image: url('/src/assets/images/IllustrationsConcept/pexels-cottonbro-3927238.jpg');
  margin: 3rem auto;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 40%;
}

.homepage__title {
  text-transform: uppercase;
  text-shadow: 4px 2px 8px rgba(10,1,15,0.83);
  color: white;
  font-size: 3rem;
}

.concept {
  margin-bottom: 5rem;

  &-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  }

  &-image {
  height: 250px;
  margin: 0 auto;
  }
}

// Images alignment
.align-right {
  margin: 0 0 0 auto;
}

.align-left {
  margin: 0 auto 0 0;
}

button {
  background-color: #80003F;
  color: white;
  font-weight: 100;
  border: none;
  border-radius: 5px ;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  &:hover {
      background-color: black;
      color: white;
  }
}

.button-link {
  display: flex;
}

